<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quotation Example</title>
  </head>
  <body>
    <h1>Famous Quote</h1>
    <blockquote
      cite="https://www.goodreads.com/quotes/977-the-only-limit-to-our-realization-of-tomorrow-will-be-our"
    >
      "The only limit to our realization of tomorrow will be our doubts of
      today."
    </blockquote>
    <p>- Franklin D. Roosevelt</p>
  </body>
</html>
