.quotation-container {
  padding: 20px;
  color: #333;
  font-family: sans-serif;

  width: 100%;
  margin: 0 auto;
}

.quotation-header {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.quotation-title-wrapper {
  margin-left: auto;
  display: flex;
  flex-direction: column; 
  align-items: flex-end;
}

.quotation-subtitle {
  font-size: 14px;
  color: #666;
}

.quotation-title {
  font-family: ibm-plex-sans-thai-bold;
  font-size: 24px;
  font-weight: bold;
  color: #01a396;
  margin-left: auto;
}

/* top info */
.top-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.6;
}

.top-info-left {
  width: 48%;
}

.top-info-right {
  width: 32%;
}

.header-sign {
  margin-top: -10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #ccc;
  font-size: 14px;
}

/* table */
.q-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.q-table th,
.q-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.q-table thead {
  background-color: #f3f3f3;
}

/* sum info */
.sum-info {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: 14px;
  line-height: 1.6;
}

.sum-info-left {
  width: 40%;
}

.sum-info-right {
  width: 60%;
}

.payment-title {
  display: flex;
  align-items: center; 
  gap: 5px;
  color: #01a396;
  font-weight: bold;
}

.peyment-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

/* summary */
.summary {
  margin-left: auto;
  width: 250px;
  font-size: 14px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
}

.summary-row .total {
  font-weight: bold;
  color: #01a396;
}

/* note */
.note {
  margin-top: 10px;
  display: flex;
  align-items: center; 
  gap: 5px;
  color: #01a396;
}

/* customer block */
.customer-block {
  margin-top: 32px;
  font-size: 14px;
}

/* footer signatures */
.footer-sign {
  margin-top: 80px;
  border-top: 1px solid #ccc;
  font-size: 14px;
}

.footer-sign-inner {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.signature-block {
  text-align: left;
  color: #01a396;
  font-weight: bold;
}

.signature-block.right {
  text-align: right;
}

.signature-image {
  height: 64px;
}

.page-number {
  text-align: center;
  margin-top: 40px;
  font-size: 12px;
}
